header {
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0px;
  margin: 0px 0px 56px 0px;
}

.header__photo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.logo {
  width: 700px;
  height: 300px;
  object-fit: cover;

  border-radius: 245px;
}
